.cell {
    border: solid black 1px;
    width:55px;
    height:55px;
    display:block;
    text-align: center;
    font-size:30px;
}
.column {
    display: inline-block;
}
.selected{
    background-color: aqua;
}